{% extends "footer.html" %}

{% load staticfiles %}
{% load hrs_previousday %}
{% load event_tag %}

{% block main %}

  <!--Body--> 
  <body class="parallax animated fadeIn"><!--Add "parallax" class if you have elements on the page with parallax backgrounds. "fadeIn" class makes content fades in on loading-->
  
    <!--Off-Canvas-->
    <div class="off-canvas-wrap" data-offcanvas>
    	<div class="inner-wrap">
      
        <!--Layout-->
        <div class="site-layout"><!--If you add class "boxed" to .site-layout it wraps the whole document in a box, than you can simply add pattern background to body or leave it white. Please note in a "boxed" mode header doesn't stick to the top.-->
        
          <!--Page Content-->
        <div class="page">
        
          <!--Section-->
          <section class="page-block double-padding-top double-space-bottom">
          	<div class="container-fluid">
            	<div class="page-heading center">
            		<h2>{{Weather_Title}}</h2>
                <h3>{{Weather_Tagline}}<span></span></h3>
            	</div>
          		<div class="row">
                
                <!--Datepicker-->
                <div class="col-lg-3 col-lg-push-9 space-top double-space-bottom">
                  <input type="hidden" name="chosen_date" id="chosen_date">
                	<div class="datePicker" id="datePicker"></div>
                </div>

                <div id="date">{{date}}

                <!--Schedule-->
              	<div class="col-lg-9 col-lg-pull-3 schedule space-top space-bottom">
                	<table>
                    <tr>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">{% filter add:-9|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-8|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-7|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-6|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-5|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-4|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-3|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% filter add:-2|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th> 
                      <th scope="col">{% filter add:-1|hrs_previousday %}{% now "G" %}{% endfilter %}:00</th>
                      <th scope="col">{% now "G" %}:00</th>
                    </tr>
                    <tr>
                      <th class="day" scope="row">{% now "m/d" %}</th>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td> 
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                    </tr>
                    <tr>
                      <th class="day" scope="row">{% now "m/"%}{% filter add:-1 %}{%now "d"%}{% endfilter %}</th>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                    </tr>
                    <tr>
                      <th class="day" scope="row">{% now "m/"%}{% filter add:-2 %}{%now "d"%}{% endfilter %}</th>
                      <!--<td colspan="2"><a class="event" href="#" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius, beatae. Voluptate, quia, ipsam explicabo dolor sit amet consectetur.">Event Name<span>Event short description</span></a></td>-->                                  
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                      <td colspan="1">{% event_tag 1 2 %}</td>
                    </tr>


                  </table>
                </div>
              </div>
          	</div>
          </section><!--Section Close-->
          
        </div>
        <!--Page Content Close-->
  </body><!--Body Close-->
</html>

{% endblock %}
